<div class="wrap m-role m-role-userEdit">
    <!-- 主要内容开始 -->
    <div class="w-main">
        <div class="section">
            <h2>用户基本信息</h2>
            <div class="g-btn g-btn-mini">提交微博</div>
            <div class="g-btn g-btn-mini g-btn-primary">提交微博</div>
            <div class="g-btn g-btn-mini g-btn-delete">提交微博</div>
            <div class="g-btn">提交微博</div>
            <div class="g-btn g-btn-primary">提交微博</div>
            <div class="g-btn g-btn-delete">提交微博</div>
            <div class="g-btn g-btn-large">提交微博</div>
            <div class="g-btn g-btn-large g-btn-primary">提交微博</div>
            <div class="g-btn g-btn-large  g-btn-delete">提交微博</div>
            <div class="g-btn g-btn-block">提交微博</div>
        </div>

        <div class="section">
            <h2>按纽组件</h2>
            <div class="g-btn-group" id="js_secondNav">
                <a href="#article/list/all/1" class="g-btn active" status="all">全部(2644)</a>
                <a href="#article/list/publish/1" class="g-btn" status="publish">已发布(2474)</a>
                <a href="#article/list/pending/1" class="g-btn" status="pending">未审核(81)</a>
                <a href="#article/list/draft/1" class="g-btn" status="draft">草稿(28)</a>
                <a href="#article/list/contribution/1" class="g-btn" status="contribution">投稿(2)</a>
                <a href="#article/list/refuse/1" class="g-btn" status="refuse">拒绝(2)</a>
                <a href="#article/list/recycle/1" class="g-btn" status="recycle">回收站(14)</a>
                <a href="#article/list/page/1" class="g-btn" status="page">页面(43)</a>
            </div>
        </div>

        <div class="section">
            <h2>輸入</h2>
            <input class="g-select" />
            <input class="input-text" />
            <input class="input-text-mini" />
        </div>

        <div class="section">
            <h2>輸入</h2>
            <select name="" id="" class="g-select">
                <option value="">请选择操作</option>
                <option value="">批量移动</option>
                <option value="">通过</option>
                <option value="">拒绝</option>
                <option value="">待审核</option>
                <option value="">删除</option>
                <option value="">导出</option>
            </select>
        </div>

        <div class="section">
            <h2>列表</h2>
            <ul class="g-list">
                <li class="list-header">最新文章</li>
                <li class="child"><a href="#">文章-1</a></li>
                <li class="child"><a href="#">文章-2</a></li>
                <li class="child"><a href="#">文章-3</a></li>
                <li class="child"><a href="#">文章-4</a></li>
                <li class="child"><a href="#">文章-5</a></li>
                <li class="child"><a href="#">文章-6</a></li>
                <li class="child"><a href="#">文章-7</a></li>
                <li class="child"><a href="#">文章-8</a></li>
                <li class="child"><a href="#">文章-9</a></li>
                <li class="child"><a href="#">文章-10</a></li>
            </ul>

            <ol class="g-list">
                <li class="list-header">最新文章</li>
                <li class="child"><a href="#">文章-1</a></li>
                <li class="child"><a href="#">文章-2</a></li>
                <li class="child"><a href="#">文章-3</a></li>
                <li class="child"><a href="#">文章-4</a></li>
                <li class="child"><a href="#">文章-5</a></li>
                <li class="child"><a href="#">文章-6</a></li>
                <li class="child"><a href="#">文章-7</a></li>
                <li class="child"><a href="#">文章-8</a></li>
                <li class="child"><a href="#">文章-9</a></li>
                <li class="child"><a href="#">文章-10</a></li>
            </ol>
        </div>

        <div class="section">
            <h2>表格</h2>
            <table class="g-table">
                <thead>
                    <tr>
                        <th>环境变量</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>服务器时间</td>
                        <td>2013-12-18 15:09:13</td>
                    </tr>
                    <tr>
                        <td>服务器环境</td>
                        <td>Apache/2.2.22 (Win32) PHP/5.3.13</td>
                    </tr>
                    <tr>
                        <td>您的浏览器</td>
                        <td>Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/31.0.1650.63 Safari/537.36</td>
                    </tr>
                    <tr>
                        <td>系统版本</td>
                        <td><a href="#">1.201</a></td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="w-page-footer fn-clear">
            <span class="g-btn g-btn-primary" type="" id="js_submit">提交</span>
        </div>
    </div>
    <!-- 主要内容结束 -->
</div>