<div class="wrap g-moudel-list m-stat m-stat-platform">

    <!-- ■ 頭部 - TOOBAR //////////////////// -->
    <div class="fn-clear g-moudel-list-header">
        <div class="fn-left">
            <strong>条件</strong>
            起始日期:
            <input type="date" class="input-text" id="js_from">
            结束日期:
            <input type="date" class="input-text" id="js_to">
            分组:
            <select name="" class="g-select" id="js_group_by">
                <option value="day">天</option>
                <option value="weekly">周</option>
                <option value="month">月</option>
            </select>
             <button class="g-btn g-btn-primary" id="js_update">确定</button>
        </div>
    </div>

    <!-- ■■■ 中部 - TABLE //////////////////// -->
    <table class="fn-clear g-moudel-list-container g-table">
        <thead>
            <tr>
                <th>平台</th>
                <th>总下载次数</th>
            </tr>
        </thead>
        <tbody>
            {{each count as value key}}
                {{if key !== 'total'}}
                <tr>
                    <td>{{key}}</td>
                    <td>{{value}}</td>
                </tr>
                {{/if}}
            {{/each}}
            <tr>
                <td>total</td>
                <td>{{count.total}}</td>
            </tr>
        </tbody>
    </table>

</div>



