
    <!-- 中栏或(中栏+右侧栏) 开始-->
    <div class="wrap m-set m-set-themesEdit">
        <!-- 当前的文件 -->
        <h3 class="current-file">
            <div class="fn-right m-select-file">
                <label>选择要编辑的主题</label>
                <select name="" id="js_" class="g-select g-select-mini">
                    <option value="">主题1</option>
                    <option value="">主题2</option>
                    <option value="">主题3</option>
                </select>
                <buttom class="g-btn">选择</buttom>
            </div>
            Zoopda 样式表文件(style.css)
        </h3>

    </div>
    <div class="wrap has-widget">
        <!-- 主要内容开始 -->
        <div class="w-main" >
            <div class="m-editor">
                <div id="js_editor" style="width:800px; height:400px"></div>
            </div>
            <div class="w-page-footer fn-clear" >
                <button type="submit" class="g-btn g-btn-primary">更新文件</button>
            </div>
        </div>
        <!-- 主要内容结束 -->
        <!-- 右侧栏开始 -->
        <div class="w-widget-box-container" >
            <div class="m-list-files">
                <h4>模板</h4>
                <ul>
                    <li><a href="#">模板-1 <em>xxx.php</em></a></li>
                    <li><a href="#">模板-2 <em>xxx.php</em></a></li>
                    <li><a href="#">模板-3 <em>xxx.php</em></a></li>
                    <li><a href="#">模板-4 <em>xxx.php</em></a></li>
                </ul>
                <h4>样式</h4>
                <ul>
                    <li><a href="#">样式-1 <em>xxx.css</em></a></li>
                    <li><a href="#">样式-2 <em>xxx.css</em></a></li>
                    <li><a href="#">样式-3 <em>xxx.css</em></a></li>
                    <li><a href="#">样式-4 <em>xxx.css</em></a></li>
                </ul>
            </div>
        </div>
        <!-- 右侧栏结束 -->
    </div>
    <!-- 中栏或(中栏+右侧栏) 结束-->

